* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER - NAVBAR */

.navbar {
    font-weight: bold;
}

.navbar .register-login {
    font-weight: bold;
}



/* CARROUSEL */

.carousel-item img {
    object-fit: cover;
    height: 700px;
}

.carousel h2, .carousel-subtitle{
    color: rgb(255, 255, 255);
    font-weight: bold;
}




/* CARDS */

.card img {
    object-fit: contain;
    
}



/* FOOTER */

.bi {
    padding-top: 150px;
    font-size: 30px;
    color: rgb(192, 192, 192);
}

a {
    text-decoration: none;
    color: #fff;
}