@import 'components/header.scss';
@import 'components/footer.scss';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* SITE VITRINE CLIENT ET AGENCE */

/* CARROUSEL */

.carousel-item img {
    object-fit: cover;
    height: 700px;
}

.carousel h2, .carousel-subtitle{
    color: rgb(255, 255, 255);
    font-weight: bold;
}


/* CARDS */

.card img {
    object-fit: contain; 
}

/* MODAL */

.form-label-modal{
    color: black;
}
.modal-title{
    text-align: center !important;
}
.card-body{
    background-color: #fef3db;
    
}





/* CONNEXION UTILISATEUR */

/* FORMULAIRE */

.formulaire-connexion {
    background-image: url("../images/Image_connexion.png");
    background-size: cover;
    padding-bottom: 52px;

}

.form-connexion {
    background-color: #E77B59;
    padding: 5px;
    margin-top: 152px;
    border-radius: 20px;
    width: 50%;
}

.title-connexion {
    color: #fff;
    margin-top: 50px;
}

.form-control {
    width: 80%;
}

.form-label-connexion {
    color: #fff;
    margin-bottom: 10px;
}

.button-connexion {
    font-size: 20px;
    font-weight: bold;
    width: 30%;
}

.link-inscription {
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
}

@media(max-width: 1077px) {

    .button-connexion {
        font-size: 15px;
    }
}

@media(max-width: 912px) {

    .button-connexion {
        width: 110px;
    }
}

@media(max-width: 740px) {

    .button-connexion {
        width: 110px;
    }
}


@media(max-width: 450px) {

    .button-connexion {
        font-size: 10px;
        margin-left: -5px;
        width: 80px;
    }
}






/* INSCRIPTION UTILISATEUR */

/* FORMULAIRE */

.formulaire-inscription {
    background-image: url("../images/Image_inscription.jpg");
    background-size: cover;
    padding-bottom: 70px;
}

.form-inscription {
    background-color: #E77B59;
    padding: 5px;
    margin-top: 110px;
    border-radius: 20px;
    width: 60%;
}

.title-inscription {
    color: #fff;
    margin-top: 20px;
}

.form-label-inscription {
    color: #fff;
}

.button-inscription {
    font-size: 20px;
    font-weight: bold;
    width: 25%;
}

.link-connexion {
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
}



@media(max-width: 1077px) {

    .button-inscription {
        font-size: 15px;
    }
}

@media(max-width: 912px) {

    .button-inscription {
        width: 110px;
    }
}

@media(max-width: 740px) {

    .button-inscription {
        width: 110px;
    }
}


@media(max-width: 450px) {

    .button-inscription {
        font-size: 10px;
        margin-left: -5px;
        width: 80px;
    }
}


/* PROFIL UTILISATEUR */

/* FORMULAIRE */


.form-profil {
    background-color: #ffffff;
    padding: 5px;
    margin-top: 20px;
    border-radius: 20px;
    width: 90%;
}

.title-profil {
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.button-register_profil {
    font-size: 20px;
    font-weight: bold;
    width: 25%;
}
.button-delete_profil {
    font-size: 20px;
    font-weight: bold;
    width: 25%;
    margin-left: 20px;
    width: 300px;
}

.form-control_profil{
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 40px;
    border: none;
}
.form-label_profil{
    color: black;   
}

/* RESPONSIVE BOUTTON */
@media(max-width: 940px) {
    .button-delete_profil {
      width: 150px;
      
    }

    .button-register_profil {
        width: 150px;
      }
  }

  @media(max-width: 630px) {
    .button-delete_profil {
      width: 257px;
      
    }

    .button-register_profil {
        width: 150px;
      }
  }






  
/* PAGE LOGEMENT */

/* FORMULAIRE */
.card_contact{
    background-color: #FF7A7A;

}
.card-container_descript{
    padding-left: 200px;
    
}
.card-container_contact{
    //padding-right: 200px;
    padding-top: 100px;
 
    
}

.contact{
    padding-top: 20px;
}
.card-body-container{
    position: relative;
    left: 10%;
}
.button-modif_logement{
    font-size: 20px;
    font-weight: bold;
    width: 25%;
    margin-left: 200px;
    width: 300px;
}
.button-supp_logement {
    font-size: 20px;
    font-weight: bold;
    width: 25%;
}
.button-modif_logement{
    color: #ffffff;
    font-weight: bold;
}
.button-supp_logement{
    font-weight: bold;
}
.contact_card{
    width: 30%;
    margin-left: 200px;
}

@media(max-width: 630px) {
    .card-body_modif {
      font-size: 14px;
    }
  }

