* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SITE VITRINE CLIENT ET AGENCE */

/* HEADER - NAVBAR */

.navbar {
    font-weight: bold;
}

.navbar .register-login {
    font-weight: bold;
}



/* CARROUSEL */

.carousel-item img {
    object-fit: cover;
    height: 700px;
}

.carousel h2, .carousel-subtitle{
    color: rgb(255, 255, 255);
    font-weight: bold;
}




/* CARDS */

.card img {
    object-fit: contain;
    
}



/* FOOTER */

.bi {
    padding-top: 150px;
    font-size: 30px;
    color: rgb(192, 192, 192);
}

.links-footer a {
    text-decoration: none;
    color: #fff;
}










/* CONNEXION UTILISATEUR */

/* FORMULAIRE */

.formulaire {
    background-image: url("../images/Image_connexion.png");
    object-fit: contain;
    padding-bottom: 100px;
}

.form {
    background-color: #E77B59;
    padding: 5px;
    margin-top: 101px;
    border-radius: 20px;
    width: 50%;
}

.title-connexion {
    color: #fff;
    margin-top: 50px;
}

.form-control {
    width: 80%;
}

.form-label {
    color: #fff;
    margin-bottom: 10px;
}

.button-connexion {
    font-size: 20px;
    font-weight: bold;
}

.link-inscription {
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
}

